<div class="row">
  <div class="col-md-4">
    <a ng-cloak class="twitter-timeline" data-width="500" data-height="500" data-dnt="true" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/NatsAbroad">Tweets by NatsAbroad</a> 
  </div>
  <div class="col-md-8">
    <h2>
      <p-panel header="United States National Soccer Teams">
        <ul>
          <li><a routerLink="men-senior">Senior Men Team</a></li>
          <hr>
          <li><a>Senior Women Team - Coming Soon</a></li>
          <hr>
          <li><a>U-23 Men Team - Coming Soon</a></li>
          <hr>
          <li><a>U-23 Women Team - Coming Soon</a></li>
        </ul>
      </p-panel>
    </h2>
  </div>
</div>
